# Python
.venv
results
__pycache__/**/*

# Java
.java-version
target
counts-*
sentry-java
.idea
.bigquery
.repl
dist/

# Ignore Visual Studio Code files.
**/.vscode/**/*

# Ignore MacOSX files.
**/.DS_Store/**/*
**/.DS_Store

